@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* GLOBAL STYLES */


/*:host  {
  background-image: url('./../../../../assets/background/kanban.svg');
  background-size: cover;
  overflow-y: auto !important;
}*/

.board-root  {
  height: 100%;
  background-image: url('./../../../../assets/kanban/board-background.png');
  background-size: cover;
  overflow-y: auto !important;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#13f7f4, #2af598);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  // Override Automatic Minimum Size
  // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  min-width: 0;
  min-height: 0;

  .board-bar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;

    .board-name {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    .board-columns {
      display: flex;
      flex-grow: 1;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0; // to force the columns to all be the same size, regardless of content

        min-width: 300px;
        margin: 50px;
        padding: 25px;

        border-radius: 4px;

        background: rgba(white, 0.5);

        &:not(:first-child) {
          margin-left: 0;
        }

        .column-title {
          font-size: 20px;
          font-weight: 800;
          font-family: 'Lato', sans-serif;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }
    }
  }
}


.tasks-container {
  flex-grow: 1;
  overflow-y: auto;
}

.task {
  //display: flex;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px;
  border-bottom-color: #707070;


  border-radius: 4px;
  margin-bottom: 15px;
  cursor: move;



  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
  0 3px 14px 2px rgba(0, 0, 0, 0.05);

  .description{
    font-size: 13px;
  }

  &:hover{
    background: rgba(white, 0.5);
  }
}

.task-header{
  min-height: 20px;
  font-weight: bold;
  border-bottom: 1px solid #EEE;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.task-body{
  margin-top: 1px;
  text {
    background-color: #000;
  }
}


.task-body-red-up{
  background-image: url('./../../../../assets/kanban/arrow-up-red.svg');
}

.task-body-red-up-double{
  background-image: url('./../../../../assets/kanban/arrow-up-red-double.svg');
}

.task-body-green-dough{
  background-image: url('./../../../../assets/kanban/dough-green.svg');
}

.task-body-blue-down{
  background-image: url('./../../../../assets/kanban/arrow-down-blue.svg');
}

.task-body-blue-down-double{
  background-image: url('./../../../../assets/kanban/arrow-down-blue-double.svg');
}

.task-blue-up-double{
  border-left: solid;
  border-left-color: #1b54ee;

}

.task-blue-up {
  border-left: solid;
  border-left-color: #10eee5;
  border-left-width: 3px;
}

.task-green-up{
  border-left: solid;
  border-left-color: #8aee1f;
  border-left-width: 3px;
}

.task-red-up {
  border-left: solid;
  border-left-color: #ee788c;
  border-left-width: 3px;
}

.task-red-up-double{
  border-left: solid;
  border-left-color: #ee1829;
  border-left-width: 3px;
}

.task-body-display{
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
.task-footer {
  min-height: 20px;
  border-top: 1px solid #DDD;
  margin-top: 2px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background: rgba(white, 0.5);
  border: dashed 2px #b0bec5;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  div{
    opacity: 0;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.plus-outline-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.icon-size{
  font-size: 3rem;
}
.deactivate-div {
  filter: blur(3px);
  pointer-events:none;
}
